services:
  db:
    container_name: postgres-spring-boot-IMS
    image: postgres:latest
    environment:
      POSTGRES_USER: liz
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
    volumes:
      - db:/data/postgres
    ports:
      - "5352:5432"
    networks:
      - db
    restart: unless-stopped

networks:
  db:
    driver: bridge

volumes:
  db: